<mat-form-field>
    <input required matInput [matDatepicker]="picker" [(ngModel)]="sdate" i18n-placeholder placeholder="start date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <input required matInput [matDatepicker]="picker1" [(ngModel)]="edate" i18n-placeholder placeholder="end date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" #picker1></mat-datepicker>
</mat-form-field>
<button mat-button (click)="export()">export data to excel</button> 
<button mat-button (click)="show()">show data</button> <button mat-button (click)="delete()">Delete</button>
<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file" id="file" (change)="setfile($event)"><button mat-button (click)="upload()">Upload</button>
</div> 


<table id="customers">
    <tr><td>#</td>
        <td>#</td>
        <td>name</td>
        <td>adddate</td>
        <td>v12v</td>
        <td>v23v</td>
        <td>v31v</td>
        <td>i1a</td>
        <td>i2a</td>
        <td>i3a</td>
        <td>ptkw</td>
        <td>pft</td>
        <td>frqhz</td>
        <td>ealmport</td>
        <td>rateaa</td>
        <td>counteraa</td>
        <td>gastempaa</td>
        <td>pressureaa</td>
        <td>velocityaa</td>
    </tr>
    <tr *ngFor="let o of rows;index as i">
        <td>{{i}}</td>
        <td>{{o.id}}</td>
        <td>{{o.name}}</td>
        <td>{{o.adddate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
        <td>{{o.v12v}}</td>
        <td>{{o.v23v}}</td>
        <td>{{o.v31v}}</td>
        <td>{{o.i1a}}</td>
        <td>{{o.i2a}}</td>
        <td>{{o.i3a}}</td>
        <td>{{o.ptkw}}</td>
        <td>{{o.pft}}</td>
        <td>{{o.frqhz}}</td>
        <td>{{o.ealmport}}</td>
        <td>{{o.rateaa}}</td>
        <td>{{o.counteraa}}</td>
        <td>{{o.gastempaa}}</td>
        <td>{{o.pressureaa}}</td>
        <td>{{o.velocityaa}}</td>





    </tr>
</table>